/*---------------------------------------------------------------------------------------
Autor: Boris Herrera
Fecha: 27/04/2011
Proyecto: Polizas Pacífico Seguros S.A.
Lugar: Lima, Perú
Licencia: Creative Commons v2.5
          http://creativecommons.org/licenses/by-nc/2.5/es/
-----------------------------------------------------------------------------------------*/
html {
	margin: 0px;
	}
	
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#f6f6f6;
	}

/* Containers
----------------------------------------------------------------------------------------------------*/
#BigPage {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align:left;	
}
a{
	text-decoration:none;
	}
a:hover{

}
img
{
    border:none;
}

h1, h2, h3, h4, h5, h6, h7{
	font-weight:bold;
	padding:0;
	margin:0;
	}
	
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

.clear {
	clear: both;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* CSS 3 color de selcción*/

*::-moz-selection{
   background: #911212;
   color:#d5d5d5;
}

*::selection {
   background: #911212;
   color:#d5d5d5;
}
/*FIN*/
