<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="APP.SEG.WEB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<dataConfiguration defaultDatabase="APPSeguridad"/>
	<connectionStrings>
		<add name="APPSeguridad" connectionString="Data Source=50.62.137.162;Initial Catalog=DBSeguridad;Persist Security Info=True;User ID=sa;Password=111111" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ID_APLICACION" value="1"/>
		<add key="USUARIO_SERVICIO" value="1"/>
		<add key="PASSWORD_SERVICIO" value="123"/>
		<add key="DireccionFrmBienvenido" value="~/Login/frmBienvenido.aspx"/>
		<add key="DireccionFrmLogin" value="~/Login/frmLogin.aspx"/>
		<add key="DireccionFrmRedireccionClave" value="~/Login/frmRenovacionClave.aspx"/>
		<add key="DireccionFrmRolBuscar" value="~/Roles/frmRolBuscar.aspx"/>
		<add key="DireccionFrmRolDetalle" value="~/Roles/frmRolDetalle.aspx"/>
		<add key="DireccionFrmRolDetalleModificar" value="~/Roles/frmRolDetalle.aspx?MODO=EDITAR"/>
		<add key="DireccionFrmRolDetalleConsultar" value="~/Roles/frmRolDetalle.aspx?MODO=CONSULTAR"/>
		<add key="DireccionFrmObjetoBuscar" value="~/Objetos/frmObjetoBuscar.aspx"/>
		<add key="DireccionFrmObjetoDetalle" value="~/Objetos/frmObjetoDetalle.aspx"/>
		<add key="DireccionFrmObjetoDetalleModificar" value="~/Objetos/frmObjetoDetalle.aspx?MODO=EDITAR"/>
		<add key="DireccionFrmObjetoDetalleConsultar" value="~/Objetos/frmObjetoDetalle.aspx?MODO=CONSULTAR"/>
		<add key="DireccionFrmPermisoBuscar" value="~/Permisos/frmPermisoBuscar.aspx"/>
		<add key="DireccionFrmPermisoDetalle" value="~/Permisos/frmPermisoDetalle.aspx"/>
		<add key="DireccionFrmPermisoDetalleModificar" value="~/Permisos/frmPermisoDetalle.aspx?MODO=EDITAR"/>
		<add key="DireccionFrmPermisoDetalleConsultar" value="~/Permisos/frmPermisoDetalle.aspx?MODO=CONSULTAR"/>
		<add key="DireccionFrmUsuarioBuscar" value="~/Usuarios/frmUsuarioBuscar.aspx"/>
		<add key="DireccionFrmUsuarioDetalle" value="~/Usuarios/frmUsuarioDetalle.aspx"/>
		<add key="DireccionFrmUsuarioDetalleModificar" value="~/Usuarios/frmUsuarioDetalle.aspx?MODO=EDITAR"/>
		<add key="DireccionFrmUsuarioDetalleConsultar" value="~/Usuarios/frmUsuarioDetalle.aspx?MODO=CONSULTAR"/>
		<add key="DireccionFrmAccesoRestringido" value="~/Util/AccesoRestringido.aspx"/>
		<add key="DireccionFrmPermisoUsuarioBuscar" value="~/Permisos/frmPermisoUsuarioBuscar.aspx"/>
		<add key="DireccionFrmPermisoUsuarioDetalle" value="~/Permisos/frmPermisoUsuarioDetalle.aspx"/>
		<add key="DireccionFrmPermisoObjetoDetalle" value="~/Permisos/frmPermisoObjetoDetalle.aspx"/>
		<add key="DireccionFrmPermisoObjetoBuscar" value="~/Permisos/frmPermisoObjetoBuscar.aspx"/>
    <add key="DireccionFrmEmpresaPermisoBuscar" value="~/Permisos/frmPermisoEmpresaBuscar.aspx"/>
    <add key="DireccionFrmEmpresaPemisoDetalle" value="~/Permisos/frmPermisoEmpresaDetalle.aspx"/>

    <add key="DireccionFrmEmpresaDetalle" value="~/Empresa/frmEmpresaDetalle.aspx"/>
    <add key="DireccionFrmEmpresaBuscar" value="~/Empresa/frmEmpresaBuscar.aspx"/>
    <add key="DireccionFrmEmpresaDetalleModificar" value="~/Empresa/frmEmpresaDetalle.aspx?MODO=EDITAR"/>
    <add key="DireccionFrmEmpresaDetalleConsultar" value="~/Empresa/frmEmpresaDetalle.aspx?MODO=CONSULTAR"/>

    <add key="DireccionFrmTipoEmpresaDetalle" value="~/TipoEmpresa/frmTipoEmpresaDetalle.aspx"/>
    <add key="DireccionFrmTipoEmpresaBuscar" value="~/TipoEmpresa/frmTipoEmpresaBuscar.aspx"/>
    <add key="DireccionFrmTipoEmpresaDetalleModificar" value="~/TipoEmpresa/frmTipoEmpresaDetalle.aspx?MODO=EDITAR"/>
    <add key="DireccionFrmTipoEmpresaDetalleConsultar" value="~/TipoEmpresa/frmTipoEmpresaDetalle.aspx?MODO=CONSULTAR"/>
    <add key="DireccionFrmTipoEmpresaAplicacion" value="~/TipoEmpresa/frmTipoEmpresaAplicacion.aspx"/>


		<add key="DireccionFisicaFrmPermisoUsuarioBuscar" value="../Permisos/frmPermisoUsuarioBuscar.aspx"/>
		<add key="TituloResultadoBusqueda" value="Resultados encontrados:"/>
		<add key="TituloResultadoBusquedaCero" value="No se encontraron resultados"/>
		<add key="MSG_ROL_REGISTRADO_EXITOSAMENTE" value="El Rol se registró exitosamente"/>
		<add key="MSG_ROL_ACTUALIZADO_EXITOSAMENTE" value="El Rol se actualizó exitosamente"/>
		<add key="MSG_ERROR_GENERAL" value="Ha ocurrido un error. Por favor contacte al administrador del sistema."/>
		<add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_ROL_EXISTEN_PERMISOS_OBJETO" value="No se puede eliminar el Rol seleccionado debido a que existen Permisos sobre Objetos asociados a este Rol."/>
		<add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_ROL_EXISTEN_PERMISOS_USUARIO" value="No se puede eliminar el Rol seleccionado debido a que existen Permisos sobre Usuarios asociados a este Rol."/>
		<add key="MSG_ROL_ELIMINADO_EXITOSAMENTE" value="El Rol se eliminó exitosamente."/>
		<add key="REGISTRO_PAGINA" value="10"/>
		<add key="TEXTO_ESTADO_ACTIVO" value="Activo"/>
		<add key="TEXTO_ESTADO_INACTIVO" value="Inactivo"/>

    <add key="MSG_EMPRESA_REGISTRADO_EXITOSAMENTE" value="La Empresa se registró exitosamente."/>
    <add key="MSG_EMPRESA_ACTUALIZADO_EXITOSAMENTE" value="La Empresa se actualizó exitosamente."/>
    <add key="MSG_EMPRESA_ELIMINADO_EXITOSAMENTE" value="La Empresa se eliminó exitosamente."/>
    <add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_EMPRESA" value="No se puede eliminar este empresa por que esta asignada a un usuario"/>

    <add key="MSG_TIPOEMPRESA_REGISTRADO_EXITOSAMENTE" value="La Tipo Empresa se registró exitosamente."/>
    <add key="MSG_TIPOEMPRESA_ACTUALIZADO_EXITOSAMENTE" value="La Tipo Empresa se actualizó exitosamente."/>
    <add key="MSG_TIPOEMPRESA_ELIMINADO_EXITOSAMENTE" value="La Tipo Empresa se eliminó exitosamente."/>
    <add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_TIPOEMPRESA" value="No se puede eliminar este Tipo Empresa por que esta asignada a una Empresa"/>


		<add key="MSG_USUARIO_REGISTRADO_EXITOSAMENTE" value="El Usuario se registró exitosamente."/>
		<add key="MSG_USUARIO_ACTUALIZADO_EXITOSAMENTE" value="El Usuario se actualizó exitosamente."/>
		<add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_USUARIO_EXISTEN_PERMISOS_USUARIO" value="No se puede eliminar el Usuario seleccionado debido a que existen permisos asociados."/>
		<add key="MSG_USUARIO_ELIMINADO_EXITOSAMENTE" value="El Usuario se eliminó exitosamente."/>
		<add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_USUARIO" value="No se puede eliminar el Usuario seleccionado. Ingrese a la opción de modificación para cambiarle el estado a inactivo."/>
		<add key="MSG_USUARIO_CODIGO_REPETIDO" value="El Código de Usuario ingresado ya existe."/>
		<add key="MSG_ROL_NOMBRE_REPETIDO" value="El Nombre de Rol ingresado ya existe para esta Aplicación."/>
		<add key="MSG_CLAVE_NO_CUMPLE_REQUISITOS_MINIMOS" value="La Nueva Contraseña ingresada no es válida."/>
		<add key="MSG_CLAVES_DISTINTAS" value="Los campos Password Nuevo y Confirme Password deben ser iguales."/>
		<add key="MSG_COPIA_PERMISOS_EXITOSA" value="La copia de permisos se realizó exitosamente."/>
		<add key="MSG_ERROR_COPIA_PERMISOS" value="No se pudo copiar los permisos del usuario {0} debido a que no existe o esta inactivo."/>
		<add key="MSG_OBJETO_REGISTRADO_EXITOSAMENTE" value="El Objeto se registró exitosamente."/>
		<add key="MSG_OBJETO_ACTUALIZADO_EXITOSAMENTE" value="El Objeto se actualizó exitosamente."/>
		<add key="MSG_ERROR_OBJETO_NO_SE_PUEDE_ELIMINAR_USUARIO_EXISTEN_PERMISOS_OBJETO" value="No se puede eliminar el Objeto seleccionado debido a que existen permisos asociados."/>
		<add key="MSG_OBJETO_ELIMINADO_EXITOSAMENTE" value="El Objeto se eliminó exitosamente."/>
		<add key="MSG_ERROR_OBJETO_NO_SE_PUEDE_ELIMINAR_TIENE_HIJOS" value="No se puede eliminar el Objeto seleccionado debido a que tiene Objetos Hijos. Elimine primero los Objetos Hijos"/>
		<add key="MSG_ERROR_OBJETO_DEBE_SELECCIONAR_UN_OBJETO" value="Debe seleccionar un Objeto."/>
		<add key="MSG_PERMISO_OBJETO_REGISTRADO_EXITOSAMENTE" value="El Permiso para el Objeto se registró exitosamente."/>
		<add key="MSG_ERROR_OBJETO_PADRE_NO_TIENE_PERMISO" value="No se puede registrar el Permiso para este Objeto debido a que el Objeto Padre no tiene Permisos asignados."/>
		<add key="MSG_PERMISO_OBJETO_ELIMINADO_EXITOSAMENTE" value="El Permiso para el Objeto se eliminó exitosamente."/>
		<add key="MSG_ERROR_PERMISO_OBJETO_NO_SE_PUEDE_ELIMINAR_POR_PERMISOS_HIJOS" value="No se puede eliminar el Permiso del Objeto seleccionado debido a que sus Objetos hijos aun tienen Permiso."/>
		<add key="MSG_PERMISO_OBJETOS_REGISTRADOS_EXITOSAMENTE" value="Los Permisos para los Objetos se registraron exitosamente."/>
		<add key="MSG_ERROR_TEXTO_MUY_LARGO" value="La longitud del texto ingresado es mayor al permitido, por lo que sera cortado."/>
		<add key="MSG_CLAVE_ACTUALIZADA_EXITOSAMENTE" value="La Contraseña fue actualizada exitosamente."/>
		<add key="MSG_ERROR_FECHA_CADUCIDAD_DEBE_SER_MAYOR_FECHA_ACTUAL" value="La Fecha de Caducidad debe ser mayor a la fecha actual."/>
		<add key="MSG_ERROR_ACTUALIZAR_OBJETO_REPETIDO" value="Ya existe un Objeto de tipo formulario registrado con el mismo nombre para esta Aplicación"/>
		<add key="TITULO_RENOVACION_CLAVE" value="Cambio de Password"/>
		<add key="ITEM_DEFAULT_COMBO_ROL" value="Seleccione una opción"/>
		<add key="RECURSO_RUTA_APLICACION" value="~/Recursos/images/treeview/aplicacion.bmp"/>
		<add key="RECURSO_RUTA_BOTON" value="~/Recursos/images/treeview/boton.bmp"/>
		<add key="RECURSO_RUTA_TEXTBOX" value="~/Recursos/images/treeview/textbox.bmp"/>
		<add key="RECURSO_RUTA_CHECKBOX" value="~/Recursos/images/treeview/checkbox.bmp"/>
		<add key="RECURSO_RUTA_FORMULARIO" value="~/Recursos/images/treeview/formulario.bmp"/>
		<add key="RECURSO_RUTA_COMBO" value="~/Recursos/images/treeview/dropdownlist.bmp"/>
		<add key="RECURSO_RUTA_MENU" value="~/Recursos/images/treeview/menu.bmp"/>
		<add key="RECURSO_RUTA_RADIO" value="~/Recursos/images/treeview/radio.bmp"/>
		<add key="CLAVE_PAGINA_ENCRYPTAR" value="CLAVE123"/>
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Logs\APP"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="-yyyy-MM-dd'.log'"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<param name="StaticLogFileName" value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level - %message%newline"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header]\r\n"/>
				<param name="Footer" value="[Footer]\r\n"/>
				<param name="ConversionPattern" value="%d [%t] %-5p %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
	<system.web>

		<!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
		<authentication mode="Windows"/>
		<sessionState timeout="30"></sessionState>
		<!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<!-- removes the existing default document list -->
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<applicationSettings>
		<APP.SEG.WEB.Properties.Settings>
   <setting name="JLT_SEG_WEB_ServicioSeguridadJLT_ServicioSeguridad"
    serializeAs="String">
     <value>http://localhost:1540/APPSeguridad.asmx</value>
    <!--<value>http://72.167.200.18/Servicios/APPSeguridad.asmx</value>-->
   </setting>
  </APP.SEG.WEB.Properties.Settings>
	</applicationSettings>
</configuration>
