USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_Objeto_Listar_IdAplicacion_Etiqueta_Objeto]    Script Date: 06/14/2011 17:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Objeto_Listar_IdAplicacion_Etiqueta_Objeto]
 @IntIdaplicacion int,
 @VchEtiquetaobjeto varchar (50)
AS
SELECT 
 IdObjeto,
 NombreFisicoObjeto,
 DescripcionObjeto,
 EtiquetaObjeto,
 IdTipoObjeto,
 UrlObjeto,
 IdObjetoPadre,
 IdAplicacion,
 EstadoObjeto
 FROM Objeto
 WHERE (@IntIdaplicacion=-1 OR IdAplicacion=@IntIdaplicacion) AND
		(@VchEtiquetaobjeto IS NULL OR @VchEtiquetaobjeto='' OR EtiquetaObjeto LIKE @VchEtiquetaobjeto)
GO
