USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_Permisousuario_Eliminar]    Script Date: 06/14/2011 17:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Permisousuario_Eliminar]
  @IntIdpermisousuario int
AS
DELETE FROM PermisoUsuario
WHERE
 IdPermisoUsuario = @IntIdpermisousuario
GO
