USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_Permisousuario_Insertar]    Script Date: 06/14/2011 17:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Permisousuario_Insertar]
  @IntIdpermisousuario int OUTPUT,
  @IntIdusuario int,
  @IntIdrol int,
  @IntIdaplicacion int,
  @IntIdusuariocreacion int,
  @DtmFechacreacion datetime,
  @BitEstado bit
AS
INSERT INTO PermisoUsuario
(
 IdUsuario,
 IdRol,
 IdAplicacion,
 IdUsuarioCreacion,
 FechaCreacion,
 Estado
)
VALUES
(
  @IntIdusuario,
  @IntIdrol,
  @IntIdaplicacion,
  @IntIdusuariocreacion,
  @DtmFechacreacion,
  @BitEstado
)
 SET @IntIdpermisousuario = SCOPE_IDENTITY()
GO
