USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_PermisoObjeto_Listar_Acceso]    Script Date: 06/14/2011 17:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_PermisoObjeto_Listar_Acceso]   
  @IntIdAplicacion int,
  @IntIdRol Int,
  @VchNombreFormulario VARCHAR(50)
AS
BEGIN


SELECT     O.IdObjeto, O.NombreFisicoObjeto, O.DescripcionObjeto, O.EtiquetaObjeto, O.IdTipoObjeto, O.UrlObjeto, O.IdObjetoPadre, O.IdAplicacion, 
                      O.EstadoObjeto, ISNULL(P.EstadoPermisoObjeto, 0) as EstadoPermisoObjeto
FROM         PermisoObjeto AS P RIGHT OUTER JOIN
                      Objeto AS O ON P.IdObjeto = O.IdObjeto
                      AND P.IdAplicacion = @IntIdAplicacion 
                      AND P.IdRol = @IntIdRol
					  AND O.EstadoObjeto = 1 
WHERE O.IdObjetoPadre = (SELECT IdObjeto FROM Objeto
WHERE NombreFisicoObjeto = @VchNombreFormulario and IdAplicacion = @IntIdAplicacion
and IdTipoObjeto = 5 --TIPO FORMULARIO
)

UNION

SELECT     O.IdObjeto, O.NombreFisicoObjeto, O.DescripcionObjeto, O.EtiquetaObjeto, O.IdTipoObjeto, O.UrlObjeto, O.IdObjetoPadre, O.IdAplicacion, 
                      O.EstadoObjeto, ISNULL(P.EstadoPermisoObjeto, 0) as EstadoPermisoObjeto
FROM         PermisoObjeto AS P RIGHT OUTER JOIN
                      Objeto AS O ON P.IdObjeto = O.IdObjeto
                      AND P.IdAplicacion = @IntIdAplicacion 
                      AND P.IdRol = @IntIdRol
					  AND O.EstadoObjeto = 1 
WHERE O.IdObjeto = (SELECT IdObjeto FROM Objeto
WHERE NombreFisicoObjeto = @VchNombreFormulario and IdAplicacion = @IntIdAplicacion
and IdTipoObjeto = 5 --TIPO FORMULARIO
)


/*
SELECT     O.IdObjeto, O.NombreFisicoObjeto, O.DescripcionObjeto, O.EtiquetaObjeto, O.IdTipoObjeto, O.UrlObjeto, O.IdObjetoPadre, O.IdAplicacion, 
                      O.EstadoObjeto, ISNULL(P.EstadoPermisoObjeto, 0) as EstadoPermisoObjeto
FROM         PermisoObjeto AS P RIGHT OUTER JOIN
                      Objeto AS O ON P.IdObjeto = O.IdObjeto
                      AND P.IdAplicacion = @IntIdAplicacion AND P.IdRol = @IntIdRol
					  AND O.EstadoObjeto = 1 AND O.NombreFisicoObjeto = @VchNombreFormulario
*/					  
END
GO
