USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_Rol_Listar]    Script Date: 06/14/2011 17:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Rol_Listar]
@IntIdaplicacion int,
@VchNombrerol varchar (50)
AS
SELECT 
 IdRol,
 NombreRol,
 DescripcionRol,
 RL.IdAplicacion,
 EstadoRol,
 APLI.NombreCortoAplicacion
 FROM Rol RL
 LEFT JOIN APLICACION APLI ON RL.IdAplicacion=APLI.IdAplicacion
 WHERE 
	(@IntIdaplicacion =0 OR RL.IdAplicacion=@IntIdaplicacion) AND
	(@VchNombrerol IS NULL OR @VchNombrerol='' OR NombreRol LIKE '%'+@VchNombrerol+'%')
order by 2
GO
