USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_Usuarioclave_Insertar]    Script Date: 06/14/2011 17:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Usuarioclave_Insertar]
  @IntIdclave int OUTPUT,
  @VchClaveregistrada varchar (200),
  @DtmFecharegistro datetime,
  @IntIdusuario int,
  @BitEstadoclave bit
AS
INSERT INTO UsuarioClave
(
 ClaveRegistrada,
 FechaRegistro,
 IdUsuario,
 EstadoClave
)
VALUES
(
  @VchClaveregistrada,
  @DtmFecharegistro,
  @IntIdusuario,
  @BitEstadoclave
)
 SET @IntIdclave = SCOPE_IDENTITY()
GO
