USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_Usuario_Obtener_Codigo]    Script Date: 06/14/2011 17:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Usuario_Obtener_Codigo]
@VchCodigoUsuario VARCHAR(30)

AS
BEGIN
	SELECT * FROM Usuario
	WHERE CodigoUsuario = @VchCodigoUsuario	
	
END
GO
