USE [SEGURIDAD]
GO
/****** Object:  StoredProcedure [dbo].[up_Usuario_Listar_Id]    Script Date: 06/14/2011 17:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_Usuario_Listar_Id]
  @IntIdusuario int
AS
SELECT 
 IdUsuario,
 CodigoUsuario,
 Nombres,
 ApellidoPaterno,
 ApellidoMaterno,
 IdTipoUsuario,
 IdArea,
 IdOficina,
 RequierePassword,
 Password,
 PasswordCaduca,
 FechaCaduca,
 CambiarPasswordEnSInicio,
 FechaCreacion,
 IdUsuarioCreacion,
 EstadoUsuario,
 PagoTercero
 FROM Usuario
 WHERE
 (@IntIdusuario=0 OR IdUsuario=@IntIdusuario)
GO
